@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
}

.navbar {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.8) !important;
    padding: 10px;
}

.navbar-dark .navbar-nav .navbar-link {
    color: #fff;
    padding-left: 20px;
}

.background-content{
    position: absolute;;
    top: 40%;
    width: 100%;
}

.background-content h1 {
    font-size: 4em;
}


#teaching-content h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#teaching-content h3::after {
    content: '';
    background: #ffffff;
    display: block;
    height: 3px;
    width: 30rem;
    margin: 10px auto 5px;
}

#teaching-content{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background2.jpg");
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 25px;
    padding-bottom: 50px;
}
#teaching-content h2{
    font-weight: bolder;
}
#teaching-content .link{
    text-decoration: none;
    color: #fff;
}

#teaching-content .link:hover{
    color: #797979;
}

/*operacios rendszerek gyak*/
#os h3 {
    color: #efefef !important;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 10px;
}

#os h3::after {
    content: '';
    background: #ffffff;
    display: block;
    height: 3px;
    width: 60rem;
    margin: 10px auto 5px;
}
#os h4 {
    color: #2d2d2d !important;
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#os h4::after {
    content: '';
    background: #2d2d2d;
    display: block;
    height: 3px;
    width: 60rem;
    margin: 10px auto 5px;
}
.card-header, .btn, .btn-link{
    background: #797979;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.card{
    border: 5px solid #4b4b4b;
    border-radius: 15px;
}
.card-body{
    color: #000;
    text-align: center;
}

.link-img{
    filter:grayscale(0%);
}

.link-img:hover{
    filter:grayscale(50%);
    transition: .3s ease-in-out;
}

.select{
    text-decoration: none;
    color: #fff;
}
.select:hover{
    color:#fff;
}
.card-body a{
    font-weight: bolder;
    color: #000;
}
.card-body a:hover{
    text-decoration: underline ;
}
/*feladatok*/
.task-content{
    background: #ececec;
    border: 5px solid #4b4b4b;
    border-radius: 15px;
}
.task, .input-file, .result-input-field, .help{
    padding: 0 2rem 0 2rem;
    text-align: justify;
}

.input-file a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
.input-file a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
.check-button{
    width: 100%;
}
.luck{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

#alert{
    width:500px;
    overflow: hidden;
    background: #eaeaea;
    box-shadow: 0 0 20px black;
    border: 5px solid #4b4b4b;
    border-radius: 10px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:9999;
    padding: 10px;
    text-align:center;
    display: none;
}
